body {
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
}

a {
    text-decoration: none;
}

#cabeçalho.navbar {
    background-color: #e15f41;
}

#cabeçalho .nav .nav-link.active{
    background-color: #fff;
    color: #e15f41;
}

#cabeçalho .nav .nav-link, 
.navbar-brand, 
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.navbar-brand {
    font-size: 2em;
}

.section-title {
    font-family: "Pacifico",'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

.section-title span, .text-colored {
    color: #e15f41;
}

.navbar-toggler {
    background-color: #ffeae6;
    color: #e15f41;
}

#restaurante, #cardapio {
    background-color: #ffeae6;
}

.nav-cardapio .nav-link.active{
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link,
.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

.social-links {
    display: flex;
    gap: .5em;
}

.social-links li {
    list-style: none;
}

a i {
    color: black;
}

#fale-conosco button {
    background-color: #e15f41;
    color: #fff;
    font-weight: bold;
    margin: 2em 0;
}

@media (max-width: 767px) {
    .carousel.item img {
        display: block;
        height: 200px;
    }
}